services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: skinguide
      POSTGRES_PASSWORD: skinguide
      POSTGRES_DB: skinguide
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports: ["6379:6379"]

  ml:
    build: ./services/ml
    environment:
      TORCH_MODEL_PATH: "/models/current/model.pt"
      MODEL_VERSION_JSON: "/models/current/current_version.json"
      MODEL_VERSION: "0.1.0-mvp"
    ports: ["8001:8001"]
    volumes:
      - modelshare:/models

  api:
    build: ./services/api
    environment:
      DATABASE_URL: "postgresql+psycopg://skinguide:skinguide@postgres:5432/skinguide"
      REDIS_URL: "redis://redis:6379/0"
      ML_URL: "http://ml:8001/infer"

      STORE_IMAGES_DEFAULT: "false"
      STORE_IMAGES_ENABLED: "true"
      DONATION_STORAGE_ENABLED: "true"

      STORAGE_BACKEND: "local"

      SESSION_SECRET: "dev-change-me"
      REQUIRE_AUTH: "false"          # set true in production
      ACCESS_TOKEN_TTL_MIN: "43200"  # 30 days

      ADMIN_API_KEY: "dev-admin-change-me"

      MODEL_SHARED_DIR: "/models"
      MODEL_CURRENT_MANIFEST_PATH: "/models/current/manifest.json"
      MODEL_CURRENT_PT_PATH: "/models/current/model.pt"

      RATE_LIMIT_PER_MIN: "20"
      MAX_IMAGE_MB: "6"
    ports: ["8000:8000"]
    depends_on: [postgres, redis, ml]
    volumes:
      - apiimages:/data/images
      - apidonations:/data/donations
      - modelshare:/models

  trainer:
    build: ./services/trainer
    environment:
      TRAIN_DATABASE_URL: "postgresql+psycopg://skinguide:skinguide@postgres:5432/skinguide"
      API_BASE_URL: "http://api:8000"
      ADMIN_API_KEY: "dev-admin-change-me"
      PUBLISH: "true"
      MODEL_ARTIFACTS_DIR: "/models/artifacts"
      NEXT_MODEL_VERSION: "0.5.0-auto"
      EPOCHS: "8"
      BATCH_SIZE: "16"
      IMG_SIZE: "128"
      VAL_SPLIT: "0.2"
    depends_on: [postgres, api]
    volumes:
      - modelshare:/models
      - apidonations:/data/donations

volumes:
  pgdata:
  apiimages:
  apidonations:
  modelshare:
